* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  
  width: 50%;
  float: left;


}

div li {
  display: flex;
  align-items: center;
  text-align: left;

}

div li + li {
  align-content: center;
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

div li button {
  margin: 0 15px;
  border-radius: 5px;
  background: #ca4949;
  align-content: center;
}

#gs {
  float: right;
  position: absolute;
  right: 0px;
}

.repo {
  width: 200%;
  padding-top: 30px;
  padding-left: 100px;

}

h2 {
  font-weight: 400;
  text-align: center;
}
